@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(0, 0, 0); */
    color: white;
    background: url("/landing-page/assets/images/mbackground.jpg");
    background-repeat: no-repeat;
    background-position: top top;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        45deg,
        rgb(119, 0, 255),
        rgb(0, 255, 243)
    );
    border-radius: 7px;
}

::selection {
    background-color: rgba(255, 188, 44, 0.5);
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 10px;
    font-family: Poppins;
}

header a {
    transition: all 300ms;
    vertical-align: middle;
}

header a:hover {
    color: rgb(255, 201, 25);
    font-size: 18px;
}

header ul {
    text-align: center;
    width: 100px;
    padding: 0;
    margin: auto;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style-type: none;
    margin: auto;
}

ul li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(49, 111, 204);
}

.title {
    text-align: center;
    color: black;
}

ul li * {
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 0, 20px, 0, 10px;
}

.title {
    font-family: Poppins;
    font-size: 10rem;
}

section a {
    color:rgb(204, 226, 255);
    text-decoration: none;
    transition: 300ms;
    text-align: center;
}

section a:hover {
    color:rgb(255, 201, 25);
    font-size: 23px;
}

section {
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 0;
    padding: 25px;
}

section * {
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Inder', sans-serif;
    text-align: justify;
    /* padding: 5px; */
    font-size: 20px;
}

#footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;;
    background-color: rgb(0, 0, 0);
    color: rgb(100, 100, 100);
}

.primage * {
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 15px;
}
