@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

body {
    margin-top: 25vmin;
    background: rgb(12, 0, 39);
    color: white;
}

h1 {
    font-family: Poppins;
    font-weight: 800;
}

div {
    font-family: Poppins;
    font-weight: 500;
}

svg {
    width: 25px;
    color: red;
}
