@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    background: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
    color: #fff;
    font-family: Poppins;
    font-size: 17px;
}

.title {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 400ms;
}

.title:hover {
    color:rgb(255, 166, 0);
    font-size: 45px;
    margin-bottom: 0px;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    width: 85%;
    margin: auto;
    padding: 30px 0 30px 0;
    text-align: center;
    border-radius: 10px;
}

.lyrics {
    transition: all 400ms;
}

.lyrics:hover {
    color:rgb(0, 132, 255);
}

::selection {
    background-color: rgba(255, 187, 103, 0.5);
}
